﻿<div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
    <p class="text-center small">Enter your username & password to login</p>
</div>

<form class="row g-3 needs-validation" id="form_validation">
    <div class="col-12">
        <label for="Email" class="form-label">Email</label>
        <input type="text" name="Email" class="form-control" id="Email">
        @* <div class="invalid-feedback">Please enter your email.</div> *@
        @* <div class="input-group has-validation">
        </div> *@
    </div>

    <div class="col-12">
        <label for="Password" class="form-label">Password</label>
        <input type="password" name="Password" class="form-control" id="Password">
        @* <div class="invalid-feedback">Please enter your password.</div> *@
    </div>

    <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Login</button>
    </div>
    <div class="col-12">
        <p class="small text-center mb-0"><a id="btn_forgot_password" class="text-primary" style="cursor: pointer">Forgot Password</a></p>
    </div>
    <div class="col-12">
        <p class="small mb-0">Don't have account? <a id="btn_register" class="text-primary" style="cursor: pointer">Create an account</a></p>
    </div>
</form>

<script>
    $("#btn_forgot_password").click(function () {
        $("#modal-body").empty()
        $("#modal-body").load("/Forget/VerifEmail")
        $("#my_modal").modal("show")
        $("#modal_judul").text("Lupa Password")
    })
    $("#btn_register").click(function () {
        $("#modal_body").empty()
        // $("#modal_body").load('Auth/Register')
        $("#my_modal").modal("show")
    })

    $("#form_validation").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Email: {
                required: true,
                email: true
            },
            Password: "required"
        },
        messages: {
            Email: {
                required: "Please insert your Email!",
                email: "Please insert valid Email!"
            },
            Password: "Please insert your Password!"
        },
        submitHandler: function (form) {
            var email = $("#Email").val()
            var password = $("#Password").val()

            // console.log(email, password)

            $.ajax({
                url: "https://localhost:7163/Auth/Login",
                type: "post",
                data: {
                    email: email,
                    password: password
                },
                dataType: "json",
                success: function (response) {
                    var data = response

                    console.log(data)

                    if (data.success) {
                        $("#my_modal").modal("hide")

                        // alert("Berhasil")
                        Swal.fire({
                            icon: "success",
                            title: "Success login!",
                            text: data.message
                        })

                        setTimeout(function () {
                            window.location.reload()
                        }, 3000);
                    } else {
                        $("#my_modal").modal("hide")
                        
                        // alert("Belum berhasil")
                        Swal.fire({
                            icon: "error",
                            title: "Failed to login!",
                            text: data.message
                        })
                    }
                }
            })
        }
     })
</script>