﻿.container-main {
    margin-top: 70px;
    margin-left: 300px;
}

.toggle-sidebar-btn {
    display: none;
}

@media (max-width: 768px) {
    .container-main {
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    .container-main {
        margin-left: 0;
    }

    .toggle-sidebar-btn {
        display: inline;
    }
}
