﻿@using med_id.datamodels;
@model MEducationLevel


<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-2 row mt-4">
                <label for="Name" class="col-sm-4 col-form-label">Nama*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Name" Name="Name" oninput="check_valid()" value="@Model.Name">
                <span id="tesName" class="text-danger"></span>
            </div>
            <div class="mb-4 row col-12">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Pendidikan" asp-action="Index1">Batal</a>
               
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>

<script>
    function check_valid() {
        $("#tesName").text("")

    }



    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            }
        },
        messages: {
            Name: {
                required: "Nama Harus Diisi, Tidak Boleh Kosong",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var name= $("#Name").val()
            var id= 0

            $.ajax({
                url: "/Pendidikan/CheckNameIsExsist",
                type: "get", //type atau method sama aja.
                data: { name: name, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#tesName").text("Nama Sudah Ada")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Pendidikan/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        icon: "success",
                        title: "Data Berhasil Ditambah",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        window.location.reload()
                    })
                    
                }
                else {
                    alert("Gagal Menyimpan")
                }

            }
        })
    }

</script>