﻿@using med_id.datamodels;
@model MEducationLevel

<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">
            <div class="mb-2 row mt-4">
                <label for="Name" class="col-sm-4 col-form-label">Nama*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Name" Name="Name" oninput="check_valid()" value="@Model.Name">
            </div>
                <span id="validate_Name" class="text-danger"></span>
            <div class="mb-4 row col-12">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Pendidikan" asp-action="Index1">Batal</a>

                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">
                        Simpan
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>
@* <div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">

            <div class="mb-4 row ">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" Name="Name" value="@Model.Name">
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <a class="btn btn-light" asp-controller="Pendidikan" asp-action="Index">
                        Bact to List
                    </a>
                </div>
            </div>
        </form>

    </div>
</div> *@

<script>
    function check_valid() {
        $("#validate_Name").text("")

    }
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            }
        },
        messages: {
            Name: {
                required: "Please fill Name",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var name= $("#Name").val()
            var id = $("#Id").val();

            $.ajax({
                url: "/Pendidikan/CheckNameIsExsist",  
                type: "get",
                data: { name: name, id: id}, 
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Name").text("Name Already Axists")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Pendidikan/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        icon: "success",
                        title: "Data Berhasil Diubah",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        window.location.reload()
                    })
                }
                else {
                    alert("Gagal Mengubah")
                }

            }
        })
    }

</script>
