﻿@using med_id.datamodels;
@using med_id.viewmodels;
@model List<MEducationLevel>
<div class="card">
    <div class="card-body">

        <div class="row mb-3">
            <div class="col-12">
                <div class="mt-4 mb-4">

                    <h3 style="color:darkblue" class="align-center">
                        Jenjang Pendidikan
                    </h3>

                </div>
                <div class="d-flex justify-content-between ">
                    <button id="btn_create" class="btn btn-primary mt-10">Tambah</button>
                    <form asp-action="Index1">
                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search by Nama" />
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <table class="table table-hover mb-3">
            <thead>
                <tr class="table-info">
                    <th class="col-9">
                        <a asp-action="Index1" asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.currentFilter">
                            Nama
                        </a>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <a style="color:white" class="btn btn-primary btn_edit" dataid="@item.Id">
                                    Ubah
                                </a>
                                <a style="color:white" class="btn btn-danger btn_delete" dataid="@item.Id">
                                    Hapus
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Data not found</td>
                    </tr>
                }


            </tbody>

        </table>
    </div>
@* 
    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col-1 m">
                <form asp-action="Index1" id="form_pagesize">
                    <select name="PageSize" id="PageSize" class="form-control">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </div>
            <div class="col-5"></div>
            <div class="col-4">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index1"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index1"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
            </div>
        </div>


    </div> *@
</div>
<script>
    $("#btn_create").click(function () {
        $("#modal-body").empty()
        $("#modal-body").load("/Pendidikan/Create")
        $("#my_modal").modal("show")
        $("#modal_judul").text("Tambah").css("color", "blue")
    })
    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        $("#modal-body").empty()
        $("#modal-body").load("/Pendidikan/Delete?id=" + id)
        $("#my_modal").modal("show")
        $("#modal_judul").text("Hapus!").css("color", "red")
    })
    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")
        $("#modal-body").empty()
        $("#modal-body").load("/Pendidikan/Edit?id=" + id)
        $("#my_modal").modal("show")
        $("#modal_judul").text("Edit").css("color", "blue")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>
