﻿@using med_id.datamodels;

@model MMedicalItemSegmentation


@{
    ViewData["Title"] = "Detail Segmentation Product Kesehatan";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4" @ViewData["Title"]></div>

        <div class="mb-4 row">
            <label for="Id" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
                <span id="validated_Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-outline-primary" asp-controller="SegmentationProductKesehatan" asp-action="Index">Back To List</a>
            </div>
        </div>


    </div>
</div>