﻿@using med_id.viewmodels;


@model VMDoctorProfile

@{
    ViewData["Title"] = "Edit Spesialis";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_add">
            <input type="hidden" class="form-control" id="DoctorId" name="DoctorId" value="@Model.DoctorId">

            <div class="mb-4 row">
                <label for="SpecializationId" class="col-sm-4 col-form-label">Spesialisasi</label>
                <div class="col-sm-8">
                    @Html.DropDownList("SpecializationId",
                    new SelectList(ViewBag.ListCategory, "Id", "Name"),
                    new {@class = "form-control"}
                    )
                </div>

            </div>
            <input id="dokter" value="@Model.DoctorId" hidden />

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Doctor" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_add").validate({
        errorClass: "text-danger",
        submitHandler: function (form) {
            //debugger
            fungsiSubmit(form);
        }
    })

    function fungsiSubmit(form) {
        var dataForm = $(form).serialize();
        var id = $("#DoctorId").val()

        $.ajax({
            url: "/Doctor/Edit",
            type: "post",
            data: dataForm,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    Swal.fire(
                        'information',
                        data.message,
                        'success'
                    ).then(function () {
                        window.location.reload()
                    })


                }
                else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }
</script>

