﻿@using med_id.viewmodels;
@model VMDoctorProfile
@{
    var cek = DateTime.Now.Year;
    @foreach (var date in Model.ListNameHospital)
    {
        var tes = @date.StartDate.Year;

        if (tes <= cek)
        {
            cek = tes;
        }


    }
    var now = DateTime.Now.Year;
    var hasil = now - cek;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="card">
    <!-- As a heading -->

    <input hidden id="idDoctor" value="@Model.DoctorId" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home &emsp;/</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">Cari Dokter &emsp;/</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Detail Dokter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card-body">
        <div class="row">
            <div class="card"></div>
            <div class="card"></div>
            <div class="col-4">
                <div class="card-body text-center">
                    <img src="~/images/@Model.Img" class="rounded-circle img-thumbnail" height="220" width="220">
                </div>
                <br />
                <br />
                <div class="card-body mb-5">
                    <h4 style="color: cornflowerblue"><b>Tindakan Medis</b></h4>
                    @*                     <div style="border-bottom:solid black 0.05px;border-top:solid lightgrey 0.05px; border-left:solid lightgrey 0.05px; border-right:solid lightgrey 0.05px;"> *@
                    <div style="border:solid black 0.05px">
                        <div class="mt-3 m-2 mb-3">
                            @if (Model.ListNameTreatment == null)
                            {
                                <h5>-</h5>
                            }
                            else
                            {
                                foreach (var item in Model.ListNameTreatment)
                                {
                                    <h5>- @item.NameTreatment</h5>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body mb-5">
                    <h4 style="color: cornflowerblue"><b>Riwayat Praktek</b></h4>
                    @* <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px; border-left:solid lightgrey 0.05px; border-right:solid lightgrey 0.05px;">
                    *@ <div style="border:solid black 0.05px">
                        @if (Model.ListNameHospital == null)
                        {
                            <h5>-</h5>
                        }
                        else
                        {
                            foreach (var item in Model.ListNameHospital)
                            {
                                <br />
                                <h5>&nbsp;&nbsp;@item.NameHospital</h5>
                                if (null == item.EndDate)
                                {
                                    <h6> &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  Sekarang</a></h6>
                                }
                                else
                                {
                                    <h6> &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  @Convert.ToDateTime(@item.EndDate).Year</a></h6>
                                }
                            }
                        }
                        <br />
                    </div>
                </div>
                <div class="card-body">
                    <h4 style="color: cornflowerblue"><b>Pendidikan</b></h4>
                    @*  <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px; border-left:solid lightgrey 0.05px; border-right:solid lightgrey 0.05px;">
                    *@
                    <div style="border:solid black 0.05px">
                        @if (Model.ListInstitutionName == null)
                        {
                            <h5>-</h5>
                        }
                        else
                        {
                            @foreach (var item in Model.ListInstitutionName)
                            {
                                <br />
                                <h5>&emsp;&nbsp;&nbsp;@item.InstitutionName</h5>
                                <h6>&emsp; &emsp;&nbsp;&nbsp; @item.Major<a style="float:right; padding-right:30px;"> @item.Lulus</a></h6>
                            }
                        }
                    </div>
                </div>

            </div>


            <div class="col-8">
                <div class="row mt-2 mb-5">
                    <div class="col-sm-8 mt-3">
                        <div class="card-body mt-5 text-left">
                            <h3><b>@Model.NameDoctor</b></h3>
                            <h5>&emsp; @Model.Specialization</h5>

                            @if (hasil == 0)
                            {
                                <h5>-</h5>
                            }
                            else
                            {
                                <h5>&emsp; @hasil Tahun Pengalaman</h5>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body mt-3 text-center">
                            <br />
                            <br />
                            <h3>
                                <button class="btn btn-primary btn-lg text-lg-center" id="btn_chat" onclick="tes()">Chat Dokter</button>
                            </h3>
                            <h5>Rp.30.000</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-2">&nbsp;</div>
                <div class="card-body">
                    <h3 style="color: cornflowerblue"><b>&nbsp; Lokasi Praktek</b></h3>
                    @if (Model.ListLokasiPraktek.Count == 0)
                    {
                        <div class="card-body">
                            <div class="card-body" style="border-top:solid deepskyblue 3px; border-left:solid deepskyblue 3px; border-right:solid deepskyblue 3px; border-bottom:solid deepskyblue 3px; height: 250px;">
                            </div>
                            <br />
                            <br />
                        </div>
                    }
                    else
                    {
                        @foreach (var item in Model.ListLokasiPraktek)
                        {
                            <div class="card-body">
                                <div class="card-body" style="border-top:solid deepskyblue 3px; border-left:solid deepskyblue 3px; border-right:solid deepskyblue 3px;">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="mt-3 text-left">

                                                <h5><b>@item.NameHospital</b></h5>


                                            </div>
                                            <div>
                                                <h7 class=" m-3">&emsp;@item.SpecializationFaskes</h7>
                                            </div>
                                            <div>
                                                <h7 class=" m-3">&emsp;@item.Lokasi</h7>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card-body text-center mt-5">
                                                <h6>Konsultasi Mulai Dari</h6>
                                                <h6>Rp &nbsp;@item.PriceStartFrom</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="border-bottom:solid deepskyblue 3px;border-top:solid deepskyblue 3px; border-left:solid deepskyblue 3px; border-right:solid deepskyblue 3px;">

                                    <div class=" text-left">
                                        <div class="mt-3">
                                            <a class="btn_more" id="btn_more_@item.IdNameHospital"
                                               dataid="@item.IdNameHospital" style="cursor: pointer; color: deepskyblue" data-bs-toggle="collapse" data-bs-target="#demo_@item.IdNameHospital">▼ Lihat Jadwal Praktek</a>

                                        </div>
                                        <div id="demo_@item.IdNameHospital" class="collapse row">
                                            <div class="col-9">
                                                @foreach (var collapse in item.ListJadwalPraktekWaktu)
                                                {
                                                    <div class="row ml-5">
                                                        <div class="col-5 mt-1">
                                                            <a class="m-1" style="color: black">@collapse.Day</a>
                                                        </div>
                                                        <div class="col-6 mt-1">
                                                            <a class="" style="color: black">@collapse.JamMulai &nbsp; - &nbsp; </a>
                                                            <a>@collapse.JamSelesai</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-3">
                                                <button class="btn btn-primary btn-lg" id="btn_janji">Buat Janji</button>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <br />
                                <br />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(".btn_more").click(function () {
        var id = $(this).attr("dataid")
        var txt = $("#btn_more_" + id).text().trim()

        if (txt == "▼ Lihat Jadwal Praktek") {
            $("#btn_more_" + id).text("▲ Sembunyikan Jadwal Praktek")
        }
        else {
            $("#btn_more_" + id).text("▼ Lihat Jadwal Praktek")
        }
    })

    // $("#btn_chat").click(function () {
    //     $("#modal_body").empty()
    //     $("#modal_body").load("/Doctor/Chat")
    //     $("#my_modal").modal("show")
    // })

    $("#btn_janji").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Doctor/Janji")
        $("#my_modal").modal("show")
    })
    function tes() {
        var da = new Date();
        var nameDay = da.getDay()
        var nameJam = da.getHours()
        var nameMenit = da.getMinutes()
        var id = $("#idDoctor").val();
        $.ajax({
            url: "/Doctor/CheckTokenIsExist",
            type: "get",
            data: { id: id, nameDay: nameDay, nameJam: nameJam, nameMenit: nameMenit },
            dataType: "json",
            success: function (respon) {
                if (respon) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Maaf, Silahkan Chat diluar jam kerja dokter',
                    });
                }
                else {
                    $("#modal-body").empty()
                    $("#modal-body").load("/Doctor/Chat")
                    $("#my_modal").modal("show")
                    //$("#tesJadwal").text("Aktif")
                    //$("#btn_send").attr("hidden", false);
                    //alert("silahkan chat diluar jam kerja")
                   
                }
            }

        })
    }


</script>