﻿@using med_id.viewmodels;
@using med_id.Services;

@model VMDoctorProfile
@inject DoctorService doctorService;
@{
    int janji = Model.ListJumlahJanji.Count() - (Model.ListJanjiCancel.Count() + Model.ListJanjiDone.Count());
    int IdRole = Context.Session.GetInt32("IdRole") ?? 5;
    string Name = Context.Session.GetString("FullName") ?? "";
    string NameRole = Context.Session.GetString("NameRole") ?? "";
    int idBio = Context.Session.GetInt32("IdBiodata") ?? 0;
    var doctor = await doctorService.GetDataDoctor(idBio);
}

<input hidden id="DoctorId" value="@Model.DoctorId" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Profil Dokter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            @* <form id="form_gambar" enctype="multipart/form-data">
            <div class="image-upload">
            <label for="file-input"> *@
            @* <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png" /> *@
            @*  <h3 class="bi bi-pencil-square"  syle="cursor: pointer; position:absolute;top:30px;right:70px;">&nbsp;</h3>
            </label>
            <input id="ImageFile" name="ImageFile" onclick="submitGambar()" type="file" style="display: none" />
            </div>

            </form> *@
            @*
            <a type="button" class="dropdown-item d-flex align-items-center" asp-controller="Doctor" asp-action="IndexDetail" asp-route-id="1">
            coba
            </a> *@
            <form id="form_input" enctype="multipart/form-data">
                <div style="position:absolute;top:20px;right:80px;">
                    <input type="file" accept="image/*" name="image" id="file" style="display: none;">
                    <label for="file" style="cursor: pointer;" class="bi bi-pencil-square"></label>
                </div>
                <div class="card-body text-center">
                    <h5>&nbsp;</h5>
                    <img src="~/images/@Model.Img" class="rounded-circle img-thumbnail" id="output" height="200" width="200">
                </div>
            </form>
            <div class="card-body text-center">
                <h5 class="card-title">@Model.NameDoctor</h5>
                <p class="card-text">@Model.Specialization</p>
                <h5>  &#9733; &#9733; &#9733; &#9733; &#9734;</h5>

            </div>
            <div style="border-top:solid lightgrey 0.05px;">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Janji<a style="float:right; color:#329fdc">@janji</a></h5>
            </div>
            <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Obrolan / Konsultasi<a style="float:right; color:#329fdc">@Model.ListKonsultasi.Count()</a></h5>
            </div>
        </div>

        <div class="card">
            <h3 class="p-3" style="background-color:#c4e8f8; color:#329fdc">&nbsp;Tentang Saya</h3>
            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Tindakan Medis</h3>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameTreatment)
                {
                    <h5> &emsp;&emsp;&nbsp; - @item.NameTreatment</h5>
                }
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Riwayat Praktek</h4>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameHospital)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.NameHospital</h5>
                    if (null == item.EndDate)
                    {
                        <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  Sekarang</a></h6>
                    }
                    else
                    {
                        <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  @Convert.ToDateTime(@item.EndDate).Year</a></h6>
                    }
                }
            </div>

            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Pendidikan</h3>
            <div class="card-khusus">

                @foreach (var item in Model.ListInstitutionName)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.InstitutionName</h5>
                    <h6>&emsp; &emsp;&emsp;&nbsp;&nbsp;&nbsp; @item.Major<a style="float:right; padding-right:30px;"> @item.Lulus</a></h6>
                }
            </div>
            <div class="card">
            </div>
        </div>
    </div>

    <div class="col-sm-8">
         <div class="card-header">
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true">Spesialisasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">Tindakan</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div>
                <p>
                    @foreach(var spes in Model.NameSpesialis)
                    {
                        @spes.Specialization
                    }
                    <div class="align-self-end">
                        @if (Model.CurrentId != null)
                        {
                        <button type="button" class="btn btn-outline-primary btn-circle btn-xl p-0 btn_edit" style="margin-left:650px" data-id="@doctor.Id">
                            <i class="material-icons" style="font-size: 50px;">edit</i>
                        </button>
                        }
                    </div>
                </p>
            </div>
            <div class="align-self-end">
                @if (Model.CurrentId == null)
                {
                    <p>
                        Anda Belum Menambahkan Spesialisasi
                    </p>
                    <button type="button" class="btn btn-outline-primary btn-circle btn-xl p-0" id="btn_create" style="margin-left:650px" data-id="@doctor.Id">
                        <i class="material-icons" style="font-size: 50px;">add</i>
                    </button>
                }
            </div>
        </div>

    </div>
</div>

<script>
    $("#btn_create").click(function () {
        var id = $(this).data("id");

        $("#modal-body").empty();
        $("#modal-body").load("/Doctor/Create?id=" + id);
        $("#my_modal").modal("show");
    });


    $(".btn_edit").click(function () {
        var id = $(this).data("id");

        $("#modal-body").empty();
        $("#modal-body").load("/Doctor/Edit?id=" + id);
        $("#my_modal").modal("show");
    });

    let img = document.getElementById('output');
    let input = document.getElementById('file');
    input.onchange = (e) => {
        if (input.files[0]) {
            img.src = URL.createObjectURL(input.files[0]);
            $("#form_input").submit()

        }
    };


    $("#form_input").validate({
        submitHandler: function () {
            var formData = new FormData()
            var file = input.files
            var id = $("#DoctorId").val()
            if (file.length > 0) {

                formData.append("Id", id)
                formData.append("ImageFile", file[0])
            }
            $.ajax({
                url: "/Doctor/SaveImg",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (respon) {
                    Swal.fire({
                        icon: "success",
                        title: "Foto Berhasil Diubah",
                        showConfirmButton: false,
                        timer: 1500
                    });

                }
            })
        }
    })
</script>

