﻿@using med_id.datamodels;

@model MSpecialization

@{
    ViewData["Title"] = "Edit Spesialisasi Dokter";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="Id" class="col-sm-4 col-form-label">Nama Spesialisasi</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validated_Name" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="SpesialisasiDokter" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            Name: {
                required: "Please fill name",
                minlength: "The name must consist of at least 3 character",
            }
        },
        submitHandler: function (form) {
            //debugger
            //console.log(form)
            var dataForm = $(form).serialize();

            var name = $("#Name").val();
            var id = $("#Id").val();

            $.ajax({
                url: "/SpesialisasiDokter/CheckNameIsExist",
                type: "get",
                data: { name: name, id: id },
                datatype: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validated_Name").text("Name is already exist")
                        return true;
                    }
                    else {
                        fungsisubmit(dataForm)
                    }
                }
            })

        }
    })

    function fungsisubmit(dataParam) {
        $.ajax({
            url: "/SpesialisasiDokter/Edit",
            type: "post",
            data: dataParam,
            datatype: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")
                    // toastr.success(
                    //     data.message,
                    //     '',
                    //     {
                    //         timeOut: 500,
                    //         fadeOut: 500,
                    //         onHidden: function () {
                    //             window.location.reload()
                    //         }
                    //     }
                    // )
                    Swal.fire(
                        'information',
                        data.message,
                        'success'
                    ).then(function () {
                        window.location.reload()
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        tittle: 'warning',
                        text: data.message,
                    })
                }
            }
        })
    }

</script>