﻿@using med_id.datamodels;

@model MMedicalItemCategory

@{
    ViewData["Title"] = "Delete Category Product Kesehatan";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <h3>Are you sure for delete @Model.Name ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">YES</button>
                <a asp-controller="CategoryProductKesehatan" asp-action="Index" class="btn btn-light">NO</a>
            </div>

        </form>
    </div>
</div>


<script>
    $("#form_delete").validate({
        submitHandler: function () {

            var id = $("#Id").val()

            $.ajax({
                url: '/CategoryProductKesehatan/SureDelete',
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#my_modal").modal("hide")

                        Swal.fire(
                            'information',
                            data.message,
                            'success'
                        ).then(function () {
                            window.location.reload()
                        })


                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })

        }
    })
</script>
