﻿@using med_id.viewmodels

@{
    int idBiodata = @Context.Session.GetInt32("IdBiodata") ?? 5;
}

<h1>Rencana Kedatangan</h1>

<div class="row">
    @foreach (VMAppointments item in Model)
    {
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Fullname</h5>
                    <div class="row">
                        <div class="col-9">
                            <p><b>Faskes</b> @item.MedicalFacility</p>
                            <p><b>Tanggal</b> @item.AppointmentDate.Value.Date.ToString("dd/MM/yyyy")</p>
                            <p><b>Waktu</b> @item.ScheduleStart - @item.ScheduleEnd</p>
                            <p><b>Tindakan</b> @item.Treatment</p>
                        </div>
                        <div class="col-3 d-flex align-items-end">
                            <a class="btn btn-primary btn_edit_appointment" data-appointment-id="@item.IdAppointment" data-doctor-id="@item.IdDoctor">Ubah Kedatangan</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

<script>
    $(".btn_edit_appointment").click(function () {
        var idAppointment = $(this).data("appointment-id")
        var idDoctor = $(this).data("doctor-id")

        console.log(idAppointment)

        $("#modal-body").empty()
        $("#modal-body").load("/Patient/EditAppointment?id=" + idDoctor + "&idPatient=" + @idBiodata + "&appointmentId=" + idAppointment)
        $("#my_modal").modal("show")
    })
</script>