﻿@using med_id.viewmodels;

@{
    var medFacility = ViewBag.dataMedFacility;
    int idBiodata = @Context.Session.GetInt32("IdBiodata") ?? 0;
}

<div class="card">
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home &emsp;/</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">Cari Dokter &emsp;/</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Detail Dokter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card-body">
        <div class="row" style="margin-top:50px">
            <div class="col-sm-4">
                <div class="card-body text-center">
                    <img src="~/niceadmin/img/profile-img.jpg" class="rounded-circle img-thumbnail" height="220" width="220">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="card-body text-left">
                    <h2>@Model.Fullname</h2>
                    <h4>&emsp; @Model.ListMedicalFacility[0].Specialization</h4>
                    <h4>&emsp; @Model.ListMedicalFacility[0].Experience Tahun Pengalaman</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card-body">
                    <h4>Tindakan Medis</h4>
                    <div style="border: solid lightgrey 0.05px; border-radius:10px">
                        <h5>- Nama tindakan</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Riwayat Praktek</h4>
                    <div style="border: solid lightgrey 0.05px; border-radius:10px">
                        <h5>&nbsp;&nbsp;Nama RS</h5>
                        <h6> &emsp;&nbsp;&nbsp;&nbsp;Spesialisasi di faskes </h6>
                        <a style="float:right; padding-right:30px;">Tanggal mulai &nbsp  -  Sekarang</a>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Pendidikan</h4>
                    <div style="border: solid lightgrey 0.05px; border-radius:10px">
                        <h5>&emsp;&nbsp;&nbsp;Nama institusi</h5>
                        <h6>&emsp; &emsp;&nbsp;&nbsp; Jurusan<a style="float:right; padding-right:30px;"> Tahun lulus</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-body text-left">
                            <h2>@Model.Fullname</h2>
                            <h4>&emsp; @Model.ListMedicalFacility[0].Specialization</h4>
                            <h4>&emsp; @Model.ListMedicalFacility[0].Experience Tahun Pengalaman</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body text-center">
                            <h4>
                                <button class="btn btn-primary">Chat Dokter</button>
                            </h4>
                            <h5>Rp.30.000</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="">
                    <h3>Lokasi Praktek</h3>
                    @foreach (VMFindDoctor item in medFacility.ListMedicalFacility)
                    {
                        <div class="card-body mb-3" style="border: solid lightgrey 0.05px; border-radius:10px">
                            <div class="row p-2">
                                <div class="col-sm-8">
                                    <div class="card-body text-left">
                                        <h6>@item.MedicalFacilityCategoryName @item.MedicalFacilityName</h6>
                                        <h7>&emsp;Spesialisasi Faskes<a style="float:right; padding-right:30px;"></a></h7>
                                        <h7>&emsp;Lokasi<a style="float:right; padding-right:30px;"></a></h7>
                                        <h5></h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card-body text-right">
                                        <h7>Konsultasi Mulai Dari</h7>
                                        <h7>Rp &nbsp;Harga mulai dari</h7>
                                    </div>

                                    <a class="btn btn-primary btn_make_appointment_profile" dataid="@item.MedicalFacilityId" data-id="@Model.DoctorId">Buat Janji</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
            
@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@

<script>
    $(".btn_make_appointment_profile").click(function () {
        var id = $(this).data("id");
        var idMedFacility = $(this).attr("dataid");

        $("#modal-body").empty();
        $("#modal-body").load("/Patient/MakeAppointmentById?id=" + id + "&idPatient=" + @idBiodata + "&medicalFacilityId=" + idMedFacility);
        $("#my_modal").modal("show");
    })
</script>