﻿@using med_id.viewmodels

@model List<VMFindDoctor>

@{
    int idRole = @Context.Session.GetInt32("IdRole") ?? 0;
    int idBiodata = @Context.Session.GetInt32("IdBiodata") ?? 0;
}

@if (idRole == 0)
{
    <h1 style="margin-top:70px">Cari Dokter</h1>

    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="p-3 d-flex justify-content-center">
                                <img src="~/niceadmin/img/profile-img.jpg" class="img-fluid" style="border-radius:100px" alt="...">
                            </div>
                            <div class="p-3 d-flex justify-content-center">
                                <a href="#" class="btn" id="btn_make_appointment_login" style="background-color: darkblue; color: white">Buat Janji</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 d-flex align-items-center">
                                <div>
                                    <h4 class="card-title mb-0">@item.Fullname</h4>
                                    <p class="mb-0">Dokter @item.Specialization</p>
                                    <p>@item.Experience tahun pengalaman</p>
                                    <h6 class="mb-0"><i class="ri-hospital-fill"></i> @item.MedicalFacilityCategoryName @item.MedicalFacilityName</h6>
                                    <a style="width:380px;" class="btn btn-outline-primary" asp-controller="Doctor" asp-action="IndexDetail" asp-route-id="@item.DoctorId">Lihat Info Lebih Banyak</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if(idRole == 3)
{
    <h1 style="margin-top:70px">Cari Dokter</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="p-3 d-flex justify-content-center">
                                <img src="~/niceadmin/img/profile-img.jpg" class="img-fluid" style="border-radius:100px" alt="...">
                            </div>
                            <div class="p-3 d-flex justify-content-center">
                                <a href="#" class="btn btn_make_appointment" data-id="@item.DoctorId" style="background-color: darkblue; color: white">Buat Janji</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body w-100 h-100 d-flex align-items-center">
                                <div>
                                    <h4 class="card-title mb-0">@item.Fullname</h4>
                                    @if (item.ListMedicalFacility.Count() > 0)
                                    {
                                        <p class="mb-0">Dokter @item.ListMedicalFacility[0].Specialization</p>
                                        <p>@item.ListMedicalFacility[0].Experience tahun pengalaman</p>
                                    }else{
                                        <p class="mb-0">Tidak ada</p>
                                        <p>0 tahun pengalaman</p>
                                    }
                                    @foreach(VMFindDoctor item2 in item.ListMedicalFacility){
                                        <h6 class="mb-0"><i class="ri-hospital-fill"></i>@item2.MedicalFacilityCategoryName @item2.MedicalFacilityName</h6>
                                    }
                                    <a class="btn btn-primary w-100 btn_doctor_profile" asp-controller="Patient" asp-action="DoctorProfile" asp-route-id=@item.DoctorId>Lihat Profil Dokter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1 class="text-center">Layanan 'Buat Janji' hanya tersedia untuk pasien.</h1>
    <h1 class="text-center">Kembali ke <a class="text-primary" href="/">Dashboard</a> atau <a class="text-primary" style="cursor:pointer" id="btn_make_appointment_login">Login sebagai pasien</a>.</h1>
}


<script>
    $("#btn_make_appointment_login").click(function () {
        
        $("#modal-body").empty()
        $("#modal-body").load("/Auth/Login")
        $("#my_modal").modal("show")
    })

    $(".btn_make_appointment").click(function () {
        var id = $(this).data("id");
        $("#modal-body").empty();
        $("#modal-body").load("/Patient/MakeAppointment?id=" + id + "&idPatient=" + @idBiodata);
        $("#my_modal").modal("show");
    })
</script>