﻿<h3>Cek Ketersediaan Jadwal</h3>

<p>Mohon maaf, waktu kedatangan yang Anda pilih sudah terisi penuh. Silakan pilih waktu kedatangan atau faskes lainnya.</p>

<div>
    <a class="btn btn-primary" asp-controller="Patient" asp-action="FindDoctor">Pilih Jadwal Lain</a>
</div>