﻿@using med_id.viewmodels
@model VMFindDoctor
@{
    var members = ViewBag.listDataFamily;
    var medicalFacility = ViewBag.dataMedFacility;
    var treatment = ViewBag.treatment;
    var schedule = ViewBag.schedule;
}

<h4>Buat Janji Dokter</h4>

<div class="row">
    <div class="col-md-4">
        <div class="p-3 d-flex justify-content-center">
            <img src="~/niceadmin/img/profile-img.jpg" class="img-fluid" style="border-radius:100px" alt="...">
        </div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
        <div>
            <h4 class="mb-0">@Model.Fullname</h4>
            <p class="mb-0">Dokter @Model.ListMedicalFacility[0].Specialization</p>
            <p>@Model.ListMedicalFacility[0].Experience tahun pengalaman</p>
        </div>
    </div>
</div>

<form class="row g-3 needs-validation" id="form_validation">
    <input type="hidden" name="DoctorId" value="@Model.DoctorId" id="DoctorId" />

    <div class="col-12">
        <label for="CustomerId" class="form-label">Konsultasi Untuk</label>
        <select class="form-select" id="CustomerId" name="CustomerId">
            <option value="">Anggota Keluarga</option>
            @foreach(VMFamilyMember item in members)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <div class="col-12">
        <label for="MedicalFacilityId" class="form-label">Faskes</label>
        <select class="form-select" id="MedicalFacilityId" name="MedicalFacilityId">
            <option value="">Pilih Faskes</option>
            @foreach (VMFindDoctor item in medicalFacility.ListMedicalFacility)
            {
                <option value="@item.MedicalFacilityId" class="DoctorOfficeId" dataid="@item.DoctorOfficeId">@item.MedicalFacilityCategoryName @item.MedicalFacilityName</option>
            }
        </select>
    </div>

    <div class="col-12">
        <label for="AppointmentDate" class="form-label">Waktu Kedatangan</label>
        <input type="text" id="AppointmentDate" name="AppointmentDate" class="datepicker form-control" disabled />
    </div>

    <div class="col-12">
        <label for="DoctorOfficeTreatmentId" class="form-label">Tindakan Medis</label>
        <select class="form-select" id="DoctorOfficeTreatmentId" name="DoctorOfficeTreatmentId" disabled>
            <option value="" selected>Pilih Tindakan</option>
            @foreach (VMTreatment item in treatment.treatments) 
            {
                <option value="@item.DoctorOfficeTreatmentId">@item.TreatmentName</option>
            }
        </select>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <a class="btn btn-outline-primary w-75" data-bs-dismiss="modal">Kembali</a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-75">Buat Janji</button>
            </div>
        </div>
    </div>
</form>

<script>
    var dataIdDay = 0 
    // $("#AppointmentDate").prop("disabled", false)
    // $("#DoctorOfficeTreatmentId").prop("disabled", false)

    $("#MedicalFacilityId").change(function () { 
        var medicalFacilityId = $(this).val()
        
        if (medicalFacilityId == "") {
            $("#AppointmentDate").prop("disabled", true)
            $("#DoctorOfficeTreatmentId").prop("disabled", true)
            return;
        }

        $("#AppointmentDate").prop("disabled", false)
        $("#DoctorOfficeTreatmentId").prop("disabled", false)

        var id = @Model.DoctorId
        var days = []
        var fullDate = []

        $("#AppointmentDate").val("")

        $.ajax({
            async: false,
            method: "get",
            dataType: "json",
            url: `/Patient/GetDataDays?id=${id}&medicalFacilityId=${medicalFacilityId}`,
            success: function (dataSchedule) {
                var data = dataSchedule

                //ubah data hari menjadi angka
                for (var i = 0; i < data.length; i++) {
                    var dataDay = data[i].day
                    var idDay = data[i].idDay
                    var temp
                    var tempId
                    if (dataDay == 'Senin') {
                        tempId = idDay
                        temp = dataDay.replace('Senin', 1)
                    } else if (dataDay == 'Selasa') {
                        tempId = idDay
                        temp = dataDay.replace('Selasa', 2)
                    } else if (dataDay == 'Rabu') {
                        tempId = idDay
                        temp = dataDay.replace('Rabu', 3)
                    } else if (dataDay == 'Kamis') {
                        tempId = idDay
                        temp = dataDay.replace('Kamis', 4)
                    } else if (dataDay == 'Jumat') {
                        tempId = idDay
                        temp = dataDay.replace('Jumat', 5)
                    }

                    // days.push(parseInt(temp))
                    days.push({
                        idDay: tempId,
                        day: temp
                    })
                }

                // console.log(days)

                //masukkan parameter hari2 yg sudah diubah menjadi angka
            }
        })
        
        $.ajax({
            async: false,
            method: "get",
            dataType: "json",
            url: `/Patient/GetFullSlotDate?id=${id}`,
            success: function (dataSlot) {
                var data = dataSlot
                //ubah data
                for (var i = 0; i < data.length; i++) {
                    fullDate.push(new Date(data[i].appointmentDate).toDateString())
                }

            }
        })

        GetDate(days, fullDate)

    })

    function GetDate(updatedDate, fullDate) {
        console.log(updatedDate)
        
        var today = new Date()

        var dayInNumber = []
        $.each(updatedDate, function (index, item){
            dayInNumber.push(parseInt(item.day))
        })

        $("#AppointmentDate").datepicker('destroy')
        $("#AppointmentDate").datepicker({
            format: "yyyy-mm-dd",
            beforeShowDay: function (date) {
                if (dayInNumber.includes(date.getDay()) && !fullDate.includes(date.toDateString()) && date >= today) {
                    return true
                }
                return false
            }
        })

        $("#AppointmentDate").change(function () {
            var getdate = new Date($(this).val())
            // var newGetdate = new Date(getdate)

            // console.log(newGetdate.getDay())

            $.each(updatedDate, function (index, item) {
                if(getdate.getDay() == parseInt(item.day)){
                    dataIdDay = item.idDay
                }
                // console.log("updatedDate:", updatedDate)
                // console.log("dataIdDay:", dataIdDay)
                // getdate.getDay() (mungkin harus dicasting)
                // Date.parse(getdate).getDay()
            })
            // console.log("id day", getdate.split('-')[2])
        })

    }

    $("#AppointmentDate").datepicker({
        format: "mm-dd-yyyy",
        beforeShowDay: function (date) {
            return false
        }
    })

    $("#form_validation").validate({
        errorClass: "text-danger",
        rules: {
            CustomerId: "required",
            MedicalFacilityId: "required",
            AppointmentDate: "required",
            DoctorOfficeTreatmentId: "required"
        },
        messages: {
            CustomerId: "Please fill family member",
            MedicalFacilityId: "Please choose your medical facility",
            AppointmentDate: "Please choose date",
            DoctorOfficeTreatmentId: "Please choose the treatment"
        },
        submitHandler: function (form) { 
            var formData = new FormData()
            var dataForm = $(form).serializeArray()

            $.each(dataForm, function (key, input) {
                formData.append(input.name, input.value)
            })

            var doctorOfficeId = $("#MedicalFacilityId option:selected").attr("dataid")
            formData.append('DoctorOfficeId', doctorOfficeId)
            formData.append('DoctorOfficeScheduleId', dataIdDay)

            $("#modal_check_slot").modal("show")

            $.ajax({
                type: "post",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                url: "/Patient/CreateAppointment",
                success: function(response){
                    if(response.success){
                        $("#my_modal").modal("hide")

                        Swal.fire({
                            icon: "success",
                            title: "Success make appointment!",
                            text: response.message
                        })
                        // setTimeout(function () {
                        //     window.location.reload()
                        // }, 3000);
                    } else {
                        $("#modal-body").empty()
                        $("#modal-body").load("/Patient/FullSlot")
                        $("#my_modal").modal("show")
                    }
                },
                complete: function () {
                    setTimeout(function () {
                        $("#modal_check_slot").modal("hide")

                    }, 1000)
                }
                
            })
        }
    
    })
</script>