﻿
<div class="modal fade" id="CariObat" tabindex="-1" role="dialog" aria-labelledby="CariObatLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CariObatLabel">Cari Obat</h5>
            </div>
            <form asp-action="Catalog" method="post" id="searchForm">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="MedicalItemCategoryId" class="col-sm-4 col-form-label">Kategori Obat</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("MedicalItemCategoryId",
                                new SelectList(ViewBag.ListCategory ?? new List<SelectListItem>(), "Id", "Name"),
                                "--Pilih Kategori--",
                                new { @class = "form-control", id = "MedicalItemCategoryId" }
                                )
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            <label for="NameCategory">Kata Kunci</label>
                            <textarea type="text" class="form-control" id="NameCategory" name="NameCategory" placeholder="Nama Category"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="NameProduct" class="col-sm-4 col-form-label">Kata Kunci</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NameProduct" name="NameProduct" placeholder="Nama Produk" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Jenis Obat</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Caution" value="bebas" checked>
                                    <label class="form-check-label">Obat Bebas (Tanpa Resep)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Caution" value="keras,bebas">
                                    <label class="form-check-label">Semua Jenis Obat</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="PriceMin">Harga</label>
                                    <input type="number" class="form-control" id="PriceMin" name="PriceMin" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-4">
                                <label style="position:absolute;top:275px;right:220px">Sampai</label>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="PriceMax">Harga Maksimal</label>
                                    <input type="number" class="form-control" id="PriceMax" name="PriceMax" placeholder="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cari</button>
                    <button type="reset" class="btn btn-primary">Atur Ulang</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        $('#CariObat').modal('show');
        $("#MedicalItemCategoryId").change(function () {
            var selectedCategory = $("#MedicalItemCategoryId option:selected").text();

            $("#NameCategory").val(selectedCategory);
        });

        $("#MedicalItemCategoryId").change();
    });

</script>