﻿@using med_id.viewmodels;

@model PaginatedList<VMMMedicalItem>


@{
    var data = ViewBag.dataHeader;
    VMSearchPage search = ViewBag.Search;
}

<div id="tes">
    @if (search.NameProduct != null || search.NameCategory != null || search.MinAmount != decimal.MinValue)
    {
        <div class="info-box bg-light">
            <div class="info-box-content">
                <div class="info-box-text text-muted d-flex">
                    <p>
                        Hasil Pencarian Berdasarkan Kata Kunci :
                    </p>
                    @{
                        bool isFirstCondition = true;
                    }

                    @if (!string.IsNullOrEmpty(search.NameCategory) && search.NameCategory != "--Pilih Kategori--")
                    {
                        <p style="padding-right:0px">
                            @if (!isFirstCondition)
                            {
                                @Html.Raw(", ")
                            }
                            Kategori @search.NameCategory
                        </p>
                        isFirstCondition = false;
                    }

                    @if (search.NameProduct != null)
                    {
                        <p style="padding-right:0px">
                            @if (!isFirstCondition)
                            {
                                @Html.Raw(", ")
                            }
                            Kata Kunci @search.NameProduct
                        </p>
                        isFirstCondition = false;
                    }

                    @if (search.Caution != null)
                    {
                        @if (search.Caution == "bebas")
                        {
                            <p style="padding-right:0px">

                                @if (!isFirstCondition)
                                {
                                    @Html.Raw(", ")
                                }
                                Hanya Cari Obat @search.Caution
                            </p>
                            isFirstCondition = false;

                        }
                        else
                        {
                            <p style="padding-right:0px">

                                @if (!isFirstCondition)
                                {
                                    @Html.Raw(", ")
                                }
                                Cari semua obat
                            </p>

                            isFirstCondition = false;
                        }
                    }

                    @if (search.PriceMin != long.MinValue && search.PriceMin != null)
                    {
                        <p style="padding-right:0px">
                            @if (!isFirstCondition)
                            {
                                @Html.Raw(", ")
                            }
                            Price min &nbsp; : @search.PriceMin
                        </p>
                        isFirstCondition = false;
                    }

                    @if (search.PriceMax != long.MaxValue && search.PriceMax != null)
                    {
                        <p style="padding-right:0px">
                            @if (!isFirstCondition)
                            {
                                @Html.Raw(", ")
                            }
                            Price max &nbsp; : @search.PriceMax
                        </p>
                    }

                </div>
            </div>
        </div>
    }


    <div class="card-header">
        <div class="card-tools">
            <button class="btn btn-outline-primary" id="btn_search">
                <i class="fas fa-search"></i>
                Ulangi Pencarian
            </button>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3" style="max-width: 540px; max-height: 270px; margin: 10px 10px 10px 10px">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="profile-username text-center" id="name_@item.Id">@item.Name</h3>
                            <p class="text-muted text-center">@item.Indication</p>
                            <p class="text-muted text-center">@item.Packaging</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <a class="float-right" style="display: flex; align-items: center; justify-content: center;">Rp @item.PriceMin.Value.ToString("#,##") - @item.PriceMax.Value.ToString("#,##")</a>
                                    <a id="price_@item.Id" hidden>@item.PriceMax</a>
                                </li>
                            </ul>
                            <div id="tambahkeranjang" data-id="@item.Id" class="tambahkeranjang">
                                <button class="btn btn-primary">Tambah Ke Keranjang</button>
                            </div>
                            <div id="plusminus" data-id="@item.Id" class="row btn_plusminus" hidden>
                                <div class="col-4 d-flex justify-content-center">
                                    <a id="min" data-id="@item.Id" class="btn btn-outline-danger btn_min" style="color:darkblue">
                                        <b>-</b>
                                    </a>
                                </div>
                                <div class="col-4 text-center">
                                    <span class="text-lg" id="totalitem_@item.Id">0</span>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <a id="plus" data-id="@item.Id" data-price-max="@item.PriceMax" class="btn btn-outline-success float-right btn_plus" style="color:darkblue">
                                        <b>+</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="wrapper_two">
                            <div style="flex">
                                <style>
                                    .aspect-ratio-container {
                                        position: relative;
                                        width: 100%;
                                        padding-bottom: 50%;
                                        overflow: hidden;
                                    }

                                        .aspect-ratio-container img {
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: contain;
                                        }
                                </style>

                                <div class="aspect-ratio-container rounded-square" data-toggle="modal" data-target="#imageModal" onclick="previewImage('@item.ImagePath')">
                                    <img class="profile-user-img img-fluid img-circle img-responsive" src="~/images/@item.ImagePath" alt="User profile picture">
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top:35px">
                                    <button class="btn btn-primary">Detail</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">

            <div class="col-10">
                Page @Model.PageIndex of @Model.TotalPages
                <a id="aPrev" asp-action="Catalog"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-outline-primary @prevDisabled" style="color:black">
                    Previous
                </a>
                <a id="aNext" asp-action="Catalog"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-outline-primary @nextDisabled" style="color:black">
                    Next
                </a>
            </div>
        </div>
    </div>

    <style>
        .card-footer {
            z-index: 1;
        }

        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 80%;
            background-color: skyblue;
            color: grey;
            text-align: center;
        }

        body {
            background: white;
            padding-bottom: 100px;
        }
    </style>


    <div class="footer" id="sembunyi" hidden>

        <div class="row text-white">
            <div class="col-lg-6 col-6">
                <div class="container">
                    <div class="row text">
                        <div class="col-lg-2 col-2">
                            <div class="inner" style="color: black; display: flex; align-items: center; margin-top:18px">
                                <h4 id="totalproduct">
                                    @{
                                        if (data != null)
                                        {
                                            <span>@data.Qty</span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                    }
                                </h4>
                                <a class="small-box-footer" style="color: black; margin-left: 10px;">
                                    <h5>Produk</h5>
                                </a>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                        <div class="col-lg-1 col-1" style="color: white; margin-left: 10px;margin-top:16px">
                            <h3>|</h3>
                        </div>
                        <div class="col-lg-8 col-1">
                            <div class="inner" style="color: black; display: flex; align-items: center;margin-top:18px">
                                <a class="small-box-footer" style="color: black; margin-left: 0px;">
                                    <h5>Estimasi Harga :</h5>
                                </a>
                                <h4 id="estimateprice">
                                    @{
                                        if (data != null)
                                        {
                                            <span>@data.SubTotal</span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                    }
                                </h4>

                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-6">
                <div class="btn btn-outline-danger" id="btn_checkout">
                    <div class="inner">
                        <h3>
                            <i class="material-icons">shopping_cart</i>
                            Checkout
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        var totalproduct = parseInt($("#totalproduct").text()) || 0;//jika null maka 0
        var estimateprice = parseInt($("#estimateprice").text()) || 0;//jika null maka 0
        var obj = {}


        var ListCart = @Html.Raw(ViewBag.dataDetail)

            setTransaction()

        function setTransaction() {
            if (ListCart != null) {
                $.each(ListCart, function (index, element) {

                    var id = element.Id
                    $("#totalitem_" + id).text(element.Qty)
                    $(".tambahkeranjang[data-id='" + id + "']").prop("hidden", true);
                    $(".btn_plusminus[data-id='" + id + "']").removeAttr("hidden");
                    $(".btn_plus[data-id='" + id + "']").click();

                    if (totalproduct >= 0) {
                        $("#sembunyi").attr("hidden", false)
                    } else {
                        $("#sembunyi").attr("hidden", true)
                    }
                })
            }
        }

        $(".tambahkeranjang").click(function () {
            var id = parseInt($(this).attr("data-id"))
            $(this).prop('hidden', true);
            $(".btn_plusminus[data-id='" + id + "']").removeAttr("hidden");
            totalproduct++
            $(".btn_plus[data-id='" + id + "']").click();


            setSession()
        })

        $(".btn_plus").click(function () {
            if (ListCart == null || ListCart.length == 0) {
                ListCart = @Html.Raw(ViewBag.dataDetail)
                            }
            obj = {}

            var id = parseInt($(this).attr("data-id"))
            var idprice = "#price_" + id
            var idtotalitem = "#totalitem_" + id
            var idname = "#name_" + id

            var totalitem = parseInt($(idtotalitem).text())
            var price = parseInt($(idprice).text())
            var nameProduct = $(idname).text()

            if (totalproduct >= 0) {
                $("#sembunyi").attr("hidden", false)
            } else {
                $("#sembunyi").attr("hidden", true)
            }

            console.log("totalitem:", totalitem);
            console.log("price:", price);

            totalitem++
            estimateprice = estimateprice + price

            var formattedEstimatePrice = formatToRupiah(estimateprice);
            // console.log("After calculations - totalproduct:", totalproduct);
            // console.log("After calculations - estimateprice:", estimateprice);

            $("#totalproduct").text(totalproduct)
            $("#estimateprice").text(formattedEstimatePrice);
            //$("#estimateprice").text(estimateprice);


            $(idtotalitem).text(totalitem)


            obj.Id = id
            obj.Qty = totalitem
            obj.SubTotal = price * totalitem
            obj.Price = price
            obj.Name = nameProduct

            addList(id, obj)

            console.log(ListCart)

            setSession()
        })

        $(".btn_min").click(function () {
            if (ListCart == null || ListCart.length == 0) {
                ListCart = @Html.Raw(ViewBag.dataDetail)
                            }

            var id = parseInt($(this).attr("data-id"))
            var idprice = "#price_" + id
            var idtotalitem = "#totalitem_" + id
            var idname = "#name_" + id


            var totalitem = parseInt($(idtotalitem).text())
            var price = parseInt($(idprice).text())
            var nameProduct = $(idname).text()

            if (totalitem <= 1) {
                $(".btn_plusminus[data-id='" + id + "']").prop('hidden', true);
                $(".tambahkeranjang[data-id='" + id + "']").removeAttr("hidden");
                totalproduct--

            }

            if (totalitem > 0) {
                totalitem--
                estimateprice = estimateprice - price

            }
            var formattedEstimatePrice = formatToRupiah(estimateprice);

            if (totalproduct == 0) {
                $("#sembunyi").attr("hidden", true);
            }
            else {
                $("#sembunyi").attr("hidden", false);
            }

            $("#totalproduct").text(totalproduct)
            $("#estimateprice").text(formattedEstimatePrice);
            //$("#estimateprice").text(estimateprice);

            $(idtotalitem).text(totalitem)

            obj.Id = id
            obj.Qty = totalitem
            obj.SubTotal = price * totalitem
            obj.Price = price
            obj.Name = nameProduct

            spliceList(id, obj)

            console.log(ListCart)

            setSession()
        })

        function formatToRupiah(number) {
            var formattedNumber = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0, maximumFractionDigits: 0 }).format(number);
            return formattedNumber;
        }

        function addList(id, obj) {
            const index = ListCart.map(e => e.Id).indexOf(id);

            if (index == -1) {
                ListCart.push(obj)
            }
            else {
                ListCart[index].Qty = obj.Qty
                ListCart[index].SubTotal = obj.SubTotal
            }
        }

        function spliceList(id, obj) {
            const index = ListCart.map(e => e.Id).indexOf(id);

            if (index != -1) {
                ListCart[index].Qty = obj.Qty
                ListCart[index].SubTotal = obj.SubTotal

                if (obj.Qty == 0) {
                    ListCart.splice(index, 1)
                }
            }
        }

        function setSession() {

            data = {
                Qty: totalproduct,
                SubTotal: estimateprice,
                ListDetails: ListCart
            }

            data.Name = ""
            data.Id = 1

            $.ajax({
                url: "/Obat/SetSession",
                data: { dataHeader: data },
                type: "post",
                dataType: "json",
                success: function (respon) {

                }
            })
        }

        $("#btn_search").click(function () {
            $("#tes").attr("hidden", true);
            $("#modal-body").empty();
            $("#modal-body").load("/Obat/CariObat");
            $("#my_modal").modal("show");
        });


        $("#PageSize").val(@ViewBag.CurrentPageSize)
        $("#PageSize").change(function () {
            $("#form_pagesize").submit();
        })
    </script>
