﻿@using med_id.viewmodels;


@model VMMMedicalItem

@{
    ViewData["Title"] = "Create Medical Item";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>


        <div class="mb-4 row">
            <label for="Name" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
                <span id="validate_Name" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="MedicalItemCategoryId" class="col-sm-4 col-form-label">Price Min</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="MedicalItemCategoryId" name="MedicalItemCategoryId" value="@Model.NameCategory" readonly>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="MedicalItemSegmentationId" class="col-sm-4 col-form-label">Price Min</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="MedicalItemSegmentationId" name="MedicalItemSegmentationId" value="@Model.NameSegmentation" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="PriceMin" class="col-sm-4 col-form-label">Price Min</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="PriceMin" name="PriceMin" value="@Model.PriceMin" readonly>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="PriceMax" class="col-sm-4 col-form-label">Price Max</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="PriceMax" name="PriceMax" value="@Model.PriceMax" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="Packaging" class="col-sm-4 col-form-label">packaging</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Packaging" name="Packaging" value="@Model.Packaging" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="Indication" class="col-sm-4 col-form-label">Indication</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Indication" name="Indication" value="@Model.Indication" readonly />
            </div>
        </div>

        <div class="mb-4 row">
            <label for="Caution" class="col-sm-4 col-form-label">Jenis Obat</label>
            <div class="col-sm-8">
                <input type="radio" name="Caution" value="bebas" checked disabled> Obat Bebas (Tanpa Resep) <br><br>
                <input type="radio" name="Caution" value="keras" disabled> Obat Keras <br><br>
            </div>
        </div>


        <div class="mb-4 row">
            <label for="ImageFile" class="col-sm-4 col-form-label">Image</label>
            <div class="col-sm-8">
                @if (Model.ImagePath != null)
                {
                    <img src="~/images/@Model.ImagePath" class="img-thumbnail" height="200" width="200"></img>
                    <br />
                    <br />
                    <input type:"text" style="text-align:center; border:0px" id="ImageFile" name="ImageFile" value="@Model.ImagePath.Split('_',2)[1]" readonly>
                }
            </div>
        </div>


        <div class="mb-4 row">
            <div class="col-sm-8">
                <a class="btn btn-light" asp-controller="MMedicalItem" asp-action="Index">Back to List</a>
            </div>
        </div>

    </div>
</div>