﻿@using med_id.viewmodels;


@model VMMMedicalItem

@{
    ViewData["Title"] = "Create Medical Item";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-4 row">
                <label for="Name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="MedicalItemCategoryId" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @if (ViewBag.ListCategory != null)
                    {
                        @Html.DropDownList("MedicalItemCategoryId",
                    new SelectList(ViewBag.ListCategory, "Id", "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>
            </div>

            <div class="mb-4 row">
                <label for="MedicalItemSegmentationId" class="col-sm-4 col-form-label">Name Segmentation</label>
                <div class="col-sm-8">
                    @if (ViewBag.ListVariant != null)
                    {
                        @Html.DropDownList("MedicalItemSegmentationId",
                    new SelectList(ViewBag.ListVariant, "Id", "Name"),
                    "--Pilih Variant--",
                    new {@class = "form-control"}
                    )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>
            </div>

            <div class="mb-4 row">
                <label for="PriceMin" class="col-sm-4 col-form-label">Price Min</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="PriceMin" name="PriceMin" value="@Model.PriceMin">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="PriceMax" class="col-sm-4 col-form-label">Price Max</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="PriceMax" name="PriceMax" value="@Model.PriceMax">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Packaging" class="col-sm-4 col-form-label">packaging</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Packaging" name="Packaging" value="@Model.Packaging">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Indication" class="col-sm-4 col-form-label">Indication</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Indication" name="Indication" value="@Model.Indication" />
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Caution" class="col-sm-4 col-form-label">Jenis Obat</label>
                <div class="col-sm-8">
                    <input type="radio" name="Caution" value="bebas" checked> Obat Bebas (Tanpa Resep) <br><br>
                    <input type="radio" name="Caution" value="keras"> Obat Keras <br><br>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload Image</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.ImagePath">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="MMedicalItem" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
                minlength: 3,
            },
            PriceMin: {
                required: true,
                number: true,
            },
            PriceMax: {
                required: true,
                number: true,
            },
            Packaging: {
                required: true,
            },
            Indication: {
                required: true,
            },
            MedicalItemCategoryId: "required",
            MedicalItemSegmentationId: "required",
            ImageFile: {
                required: true,
                typeFile: "jpg|jpeg|png",
                sizeFile: true,
            },
        },
        messages: {
            Name: {
                required: "Please fill Name",
                minlength: "The name must consist of at least 3 character"
            },
            PriceMin: {
                required: "Please fill price",
                number: "Please fill number only",
            },
            PriceMax: {
                required: "Please fill price",
                number: "Please fill number only",
            },
            Packaging: {
                required: "Please fill Packaging",
                number: "Please fill number only",
            },
            Indication: {
                required: "Please fill Packaging",
                number: "Please fill number only",
            },
            MedicalItemCategoryId: "Please select category",
            MedicalItemSegmentationId: "Please select category",
            ImageFile: {
                required: "Please fill image",
                typeFile: "Please upload jpg|jpeg|png",
                sizeFile: "Please upload file max size 1 mb",
            },
        },
        submitHandler: function (form) {
            var name = $("#Name").val()
            var id = $("#Id").val()
            var medicalItemSegmentationId = $("#MedicalItemSegmentationId").val()
            var medicalItemCategoryId = $("#MedicalItemCategoryId").val()

            $.ajax({
                url: "/MMedicalItem/CheckNameIsExist",
                type: "get", //type atau method sama aja.
                data: { name: name, id: id, medicalItemSegmentationId: medicalItemSegmentationId, medicalItemCategoryId: medicalItemCategoryId },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Name").text("Name is Already Exists");
                        return true;
                    }
                    else {
                        fungsiSubmit(form)
                    }
                }

            })
        }
    })

    function fungsiSubmit(form) {
        var formData = new FormData()
        var dataForm = $(form).serializeArray()
        $.each(dataForm, function (key, input) {
            formData.append(input.name, input.value)
        })
        var file = $("#ImageFile").prop("files")
        if (file.length > 0) {
            formData.append("ImageFile", file[0])
        }
        $.ajax({
            url: "/MMedicalItem/Edit",
            type: "post",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    Swal.fire(
                        'information',
                        data.message,
                        'success'
                    ).then(function () {
                        window.location.reload()
                    })


                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }
    jQuery.validator.addMethod("typeFile", function (value, element, param) {
        return value.match(new RegExp("." + param + "$"));
    });
    jQuery.validator.addMethod("sizeFile", function (val, element) {
        var size = element.files[0].size;
        if (size > 1048576)// checks the file more than 1 MB
        {
            return false;
        } else {
            return true;
        }
    });

</script>