﻿@{
    int idRole = @Context.Session.GetInt32("IdRole") ?? 5;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/SweetAlert/sweetalert2/sweetalert2.js"></script>

    <!-- Toastr -->
    <script src="~/toastr/toastr.min.js"></script>
    
    <!-- Favicons -->
    <link href="~/niceadmin/img/favicon.png" rel="icon">
    <link href="~/niceadmin/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/niceadmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/niceadmin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/niceadmin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/niceadmin/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/niceadmin/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/niceadmin/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/niceadmin/vendor/simple-datatables/style.css" rel="stylesheet">
     
    <!-- Datepicker -->
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>


    <!-- Template Main CSS File -->
    <link href="~/niceadmin/css/style.css" rel="stylesheet">
    <link href="~/niceadmin/css/custom-style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Nov 17 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <div class="main-layout">
        <input type="hidden" id="get-id" value="@idRole" />

        <partial name="_Header" />

        <partial name="_Sidebar" />

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="border-top footer text-muted" hidden>
            <div class="container">
                &copy; 2023 - med_id
            </div>
        </footer>
    </div>

    
    <div class="modal fade" id="my_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modal_check_slot">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" id="modal_load_body">
                    <div class="spinner-border text-primary" role="status">
                    </div>
                    <h3>Cek Ketersediaan Jadwal</h3>
                    <p>Mohon menunggu, kami sedang mengecek ketersediaan waktu konsultasi.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Spinners-->
    <div class="modal fade" id="modal_load">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" id="modal_load_body">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <h3 id="title_load"></h3>
                </div>
            </div>
        </div>
    </div>

    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    <!-- Vendor JS Files -->
  <script src="~/niceadmin/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="~/niceadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/niceadmin/vendor/chart.js/chart.umd.js"></script>
  <script src="~/niceadmin/vendor/echarts/echarts.min.js"></script>
  <script src="~/niceadmin/vendor/quill/quill.min.js"></script>
  <script src="~/niceadmin/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="~/niceadmin/vendor/tinymce/tinymce.min.js"></script>
  <script src="~/niceadmin/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
    <script src="~/niceadmin/js/main.js"></script>

    <script>
        var id = $("#get-id").val()
        if(id != 5){
            $(".main-layout").addClass("container-main")
        }
    </script>

    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>