﻿@using med_id.Services
@inject AuthService authService;

@{
    int IdUser = @Context.Session.GetInt32("IdUser") ?? 5;
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 5;
    string RoleName = Context.Session.GetString("NameRole") ?? "";
    var menu = await authService.MenuAccess(IdRole);
}

@if(IdRole != 5)
{
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

        @{
            foreach(var parent in menu)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav-@parent.Id" data-bs-toggle="collapse" href="#" aria-expanded="false">
                        <i class="bi bi-menu-button-wide"></i><span>@parent.Name</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    
                    <ul id="components-nav-@parent.Id" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        @foreach(var child in parent.listChild)
                        {
                            <li>
                                <a href="@child.Url" aria-expanded="false">
                                    <i class="@child.SmallIcon" style="font-size:25px"></i><span>@child.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
        </ul>
    </aside>
}