﻿
<div class="card">
    <div class="card-body">
        <h6 class="mt-2">Masukkan kode OTP yang dikirimkan ke Email anda</h6>


        <form class="mt-2 mb-4" id="form_OTP">
            <input type="hidden" class="form-control" id="Email" name="Email" value="@ViewBag.Email" />

            <div class="mb-4 mt-2">
                <input type="text" class="form-control" id="Token" name="Token" oninput="check_valid()" placeholder="Masukan Token">
                <span id="validate_token" class="text-danger"></span>
            </div>
           @*  <div class="text-center">
                <p id="demo" class="countdown"></p>
                
            </div> *@
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Konfirmasi OTP</button>
            </div>

        </form>
        <div class="text-center">
        <p id="demo" class="countdown"></p>
            <button hidden id="btn_send" class="btn btn-warning mt-4">Kirim Ulang</button>
        </div>
    </div>
</div>


<script>
    function check_valid() {
        $("#validate_token").text("")

    }
    $("#form_OTP").validate({
        errorClass: "text-danger",
        rules: {
            Token: {
                required: true,
            }
        },
        messages: {
            Token: {
                required: "Harap masukkan kode OTP yang telah dikirimkan",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var otp = $("#Token").val()

            $.ajax({
                url: "/Forget/CheckTokenIsExist",
                type: "get",
                data: { email: email, otp: otp },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $.ajax({
                            url: "/Forget/CheckTokenExp",
                            type: "get",
                            data: { email: email, otp: otp },
                            dataType: "json",
                            success: function (respon) {
                                if (respon) {

                                    fungsiSubmit(dataForm)
                                }
                                else {

                                    $("#validate_token").text("Kode OTP Sudah Tidak Berlaku")
                                   // alert("Kode Sudah Tidak Berlaku")
                                }
                            }
                        })
                    }
                    else {
                        $("#validate_token").text("Kode OTP Salah")
                      // alert("Kode Otp Salah")
                    }
                }

            })
        }
    })


    function fungsiSubmit(dataParam) {

        var email = $("#Email").val()
        $.ajax({
            url: "/Forget/UpdateOtp",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                debugger
                var data = respon.dataRespon
                if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Kode OTP Terkonfirmasi",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $("#modal_judul").text("Set Password")
                    $("#modal-body").empty()
                    $("#modal-body").load("Forget/PassConfirm?email=" + email)
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ada Kesalahan!',
                        text: data.message
                    });
                }

            }
        })
    }
    var but = document.getElementById('btn_send');
    var timer2 = "0:10"
    var interval = setInterval(function () {

        var timer = timer2.split(':');
        //by parsing integer, I avoid all extra string processing
        var minutes = parseInt(timer[0], 10)
        var seconds = parseInt(timer[1], 10)

        --seconds;
        minutes = (seconds < 0) ? --minutes : minutes
        if (minutes < 0) clearInterval(interval)
        seconds = (seconds < 0) ? 59 : seconds;
        seconds = (seconds < 10) ? '0' + seconds : seconds
        //minutes = (minutes < 10) ?  minutes : minutes;
        $('.countdown').html("Kirim Ulang Kode OTP Dalam " + minutes + ':' + seconds)
        timer2 = minutes + ':' + seconds
        if (minutes == -1) {
            document.getElementById('demo').innerHTML = "";
            $("#btn_send").attr("hidden", false);
        }
    }, 1000)
    $("#btn_send").click(function () {
        but.style.disabled = true
        var email = $("#Email").val()
        $.ajax({
            url: "/Forget/ReturnSend",
            type: "post",
            data: { email: email },
                dataType: "json",
            beforeSend: function () {
                $("#title_load").text("Mohon Ditunggu")
                $("#modal_load").modal("show")
            },
                success: function (respon) {
                    var data = respon.dataRespon
                    $("#modal_load").modal("hide")
                    if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Kode OTP Terkirim",
                        showConfirmButton: false,
                        timer: 1500
                    });
                        but.style.display = 'none'
                        var timer2 = "0:10"
                        var interval = setInterval(function () {

                        var timer = timer2.split(':');
                        var minutes = parseInt(timer[0], 10)
                        var seconds = parseInt(timer[1], 10)

                        --seconds;
                        minutes = (seconds < 0) ? --minutes : minutes
                        if (minutes < 0) clearInterval(interval)
                        seconds = (seconds < 0) ? 59 : seconds;
                        seconds = (seconds < 10) ? '0' + seconds : seconds
                        //minutes = (minutes < 10) ?  minutes : minutes;
                        $('.countdown').html("Kirim Ulang Kode OTP Dalam " + minutes + ':' + seconds)
                        timer2 = minutes + ':' + seconds
                        if (minutes == -1) {
                            document.getElementById('demo').innerHTML = "";
                            $("#btn_send").attr("hidden", true);
                        }
                    }, 1000)

                    }
                    //else {
                    //    toastr.errorClass(data.message)
                    //}

                }
        })
        
    })


</script>

