﻿<div class="card">
    <div class="card-body">

        <form asp-action="ConfirmOtp" method="post" id="form_register" class="mt-4">
            <input type="hidden" class="form-control" id="Email" name="Email" value="@ViewBag.Email" />

            <div id="check_password" class="text-danger">
                <p id="panjang">*Password minimal 8 karakter</p>
                <p id="huruf_besar">*Password harus mengandung huruf besar</p>
                <p id="huruf_kecil">*Password harus mengandung huruf kecil</p>
                <p id="angka">*Password harus mengandung angka</p>
                <p id="simbol">*Password harus mengandung simbol ( @@#$%& )</p>
            </div>
            <div class="mb-4 row ">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    @* <input type="text" class="form-control" id="Pass" Name="Pass" value="@Model.Password"> *@
                    <label style="cursor: pointer;" class="bi bi-eye-fill lihat" onclick="myFunction()"></label>
                    <input type="password" id="Password" name="Password" oninput="check_valid()" placeholder="Password"/>
                </div>
            </div>
            <div class="mb-4 row ">
                <label class="col-sm-4 col-form-label">Masukkan ulang password</label>
                <div class="col-sm-8">
                    @*  <input type="text" class="form-control" id="Pass1" Name="Pass1"> *@
                    <label id="lihat1" style="cursor: pointer;" class="bi  bi-eye-fill lihatnih" onclick="myFunctionnih()"></label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Konfirmasi Password" />
                    <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                </div>
            </div><div class="mb-4 row">
                <div class="col-sm-4">
                    <button id="cek" type="submit" class="btn btn-primary">
                        Set Password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
            $(".lihat").removeClass("bi bi-eye-fill")
            $(".lihat").addClass("bi bi-eye-slash-fill")
        } else {
            x.type = "password";
            $(".lihat").removeClass("bi bi-eye-slash-fill")
            $(".lihat").addClass("bi bi-eye-fill")
        }
    }
    function myFunctionnih() {
        var x = document.getElementById("ConfirmPassword");
        if (x.type === "password") {
            x.type = "text";
            $(".lihatnih").removeClass("bi bi-eye-fill")
            $(".lihatnih").addClass("bi bi-eye-slash-fill")
        } else {    
            x.type = "password";
            $(".lihatnih").removeClass("bi bi-eye-slash-fill")
            $(".lihatnih").addClass("bi bi-eye-fill")
        }
    }
    function check_valid() {
        var password_contain = $("#Password").val()
        var huruf_besar = new RegExp(/^(?=.*[A-Z])/)
        var huruf_kecil = new RegExp(/^(?=.*[a-z])/)
        var angka = new RegExp(/^(?=.*[0-9])/)
        var simbol = new RegExp(/^(?=.*[@@#$%&])/)
        var panjang = new RegExp(/^(.{8,}$)/)


        // if (panjang.test(password_contain)) {
        //     $("#panjang").attr("hidden", true)
        // } else {
        //     $("#panjang").attr("hidden", false)
        // } 
        
        if (huruf_besar.test(password_contain)) {
            $("#huruf_besar").attr("hidden", true)
        } else {
            $("#huruf_besar").attr("hidden", false)//.css("color", "red");
        }
        if (password_contain.length >= 8) {
            $("#panjang").attr("hidden", true)
        } else {
            $("#panjang").attr("hidden", false)
        }

        if (huruf_kecil.test(password_contain)) {
            $("#huruf_kecil").attr("hidden", true)
        } else {
            $("#huruf_kecil").attr("hidden", false)
        }

        if (angka.test(password_contain)) {
            $("#angka").attr("hidden", true)
        } else {
            $("#angka").attr("hidden", false)
        }

        if (simbol.test(password_contain)) {
            $("#simbol").attr("hidden", true)
        } else {
            $("#simbol").attr("hidden", false)
        }
    }

    $("#form_register").validate({
        errorClass: "text-danger",
        rules: {
            Password: {
                required: true,
            },
            ConfirmPassword: {
                equalTo: "#Password",
                required: true,
            },
        },
        messages: {
            Password: {
                required: "Silahkan Masukan Password Anda",
            },
            ConfirmPassword: {
                equalTo: "Password Tidak Sama",
                required: "Tolong Masukan Ulang Password",
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
             fungsiSubmit(dataForm)
        }
    })

    // $.validator.addMethod("strong_password_kecil", function (value, element) {
    //     let password = value;
    //     if (!(/^(?=.*[a-z])/.test(password))) {
    //         return false;
    //     }
    //     return true;
    // }, function (value, element) {
    //     let password = $(element).val();
    //     if (!(/^(?=.*[a-z])/.test(password))) {
    //         return 'Wajib Mengandung Huruf Kecil';
    //     }
    //     return false;
    // });

    // $.validator.addMethod("strong_password_besar", function (value, element) {
    //     let password = value;
    //     if (!(/^(?=.*[A-Z])/.test(password))) {
    //         return false;
    //     }
    //     return true;
    // }, function (value, element) {
    //     let password = $(element).val();
    //     if (!(/^(?=.*[A-Z])/.test(password))) {
    //         return 'Wajib Mengandung Huruf Besar';
    //     }
    //     return false;
    // });

    // $.validator.addMethod("strong_password_number", function (value, element) {
    //     let password = value;
    //     if (!(/^(?=.*[0-9])/.test(password))) {
    //         return false;
    //     }
    //     return true;
    // }, function (value, element) {
    //     let password = $(element).val();
    //     if (!(/^(?=.*[0-9])/.test(password))) {
    //         return 'Wajib Mengandung Angka';
    //     }
    //     return false;
    // });

    // $.validator.addMethod("strong_password_karakter", function (value, element) {
    //     let password = value;
    //     if (!(/^(?=.*[@@#$%&])/.test(password))) {
    //         return false;
    //     }
    //     return true;
    // }, function (value, element) {
    //     let password = $(element).val();
    //     if (!(/^(?=.*[@@#$%&])/.test(password))) {
    //         return 'Wajib Mengandung Karakter';
    //     }
    //     return false;
    // });



    // $.validator.addMethod("strong_password", function (value, element) {
    //     let password = value;
    //     if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,20}$)/.test(password))) {
    //         return false;
    //     }
    //     return true;
    // }, function (value, element) {
    //     let password = $(element).val();
    //     if (!(/^(.{8,20}$)/.test(password))) {
    //         return 'Password must be between 8 to 20 characters long.';
    //     }
    //     else if (!(/^(?=.*[A-Z])/.test(password))) {
    //         return 'Password must contain at least one uppercase.';
    //     }
    //     else if (!(/^(?=.*[a-z])/.test(password))) {
    //         return 'Password must contain at least one lowercase.';
    //     }
    //     else if (!(/^(?=.*[0-9])/.test(password))) {
    //         return 'Password must contain at least one digit.';
    //     }
    //     else if (!(/^(?=.*[@@#$%&])/.test(password))) {
    //         return "Password must contain special characters from @@#$%&.";
    //     }
    //     return false;
    // });

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: '/Forget/UpdatePass',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {


                    $("#my_modal").modal("hide")
                    Swal.fire({
                        icon: "success",
                        title: "Password Baru Berhasil Disimpan.. Silahkan Login Ulang",
                        showConfirmButton: false,
                        timer: 1500
                    });

                }
                else {

                    Swal.fire({
                        icon: 'error',
                        title: 'Warning!',
                        text: data.message
                    });
                }
            }
        })
    }
</script>