﻿
<div class="card">
    <div class="card-body">
        <h6 class="mt-2">Silahkan masukkan email anda.</h6>
        <h6>Kami akan  melakukan pengecekan</h6>

        <form class="mt-4" id="form_daftar">
            <div class="mb-3 mt-4">
                <label for="Email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="Email" name="Email" oninput="check_valid()" placeholder="EmailAnda@mail.com" />
                <span id="validate_email" class="text-danger"></span>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="btn_send">Kirim OTP</button>
            </div>

        </form>

    </div>
</div>

<script>
    function check_valid() {
        $("#validate_email").text("")

    }
    $("#form_daftar").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                required: true,
                email: true,
            }
        },
        messages: {
            Email: {
                required: "Harap masukkan Email anda",
                email: "Format Email Harus Sesuai!!!",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            $.ajax({
                url: "/Forget/CheckEmailIsExist",
                type: "get",
                data: { email: email },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        fungsiSubmit(dataForm)
                        // $("#modal_judul").text("Verifikasi Email")
                        // $("#modal_body").empty()
                        // $("#modal_body").load("Forget/ConfirmOtp?email=" + email)
                    }
                    else {
                        $("#validate_email").text("Email Tidak Terdaftar")
                        // alert("Maaf, Email Tidak Terdaftar")
                    }
                }

            })
        }
    })
    var but = document.getElementById('btn_send');
    function fungsiSubmit(dataParam) {
        but.disabled = true
        var email = $("#Email").val()
        $.ajax({
            url: "/Forget/GenerateOTP",
            type: "post",
            data: dataParam,
            dataType: "json",
            beforeSend: function () {
                $("#title_load").text("Mohon Ditunggu")
                $("#modal_load").modal("show")
            },
            success: function (respon) {
                $("#modal_load").modal("hide")
                var data = respon.dataRespon
                if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Kode OTP Terkirim",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $("#modal_judul").text("Verifikasi Email").css("color", "blue")
                    $("#modal-body").empty()
                    $("#modal-body").load("Forget/ConfirmOtp?email=" + email)

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Gagal Terkirim!',
                        text: data.message
                    });
                }

            }
        })
    }

</script>
