﻿@using med_id.Services
@inject AuthService authService;

@{
    string Name = @Context.Session.GetString("FullName") ?? "";
    int IdRole = Context.Session.GetInt32("IdRole") ?? 5;
    var menu = await authService.MenuAccess(IdRole);
}

@if(IdRole == 5)
{
    <h1 style="margin-top:70px">Welcome to Med Id!</h1>
}
else
{
    <h3 style="margin-top:70px">Welcome back, @Name!</h3>
}

<div class="row">
@foreach (var parent in menu)
{
    @foreach(var child in parent.listChild)
    {
        <div class="col-12 col-md-4">
            <a class="card text-center" style="cursor:pointer" href="@child.Url">
                <div class="card-title">
                    <i class="@child.BigIcon"></i>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">@child.Name</h5>
                </div>
            </a>
        </div>
    }
}
</div>

@* @if(IdRole == 0)
{
    <h1 class="mb-4">Welcome to Med Id!</h1>

     <div class="row">
        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/cari-obat.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Cari Obat</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/dokter.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Dokter Med Id</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/kategori-produk-kesehatan.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Kategori Produk Kesehatan</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/pendaftaran-pasien.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Pendaftaran Pasien</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card" style="cursor:pointer">
                <img src="~/niceadmin/img/rumah-sakit.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Med Id</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/atur-akses.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Atur Akses</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card" style="cursor:pointer">
                <img src="~/niceadmin/img/lupa-password.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Lupa Password</h5>
                </div>
            </a>
        </div>
    </div>
}
//Admin
else if(IdRole == 1)
{
    <h3 class="mb-4">Welcome back, @Name!</h3>

    <div class="row">
        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/kategori-produk-kesehatan.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Kategori Produk Kesehatan</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/atur-akses.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Atur Akses</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card" style="cursor:pointer">
                <img src="~/niceadmin/img/lupa-password.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Lupa Password</h5>
                </div>
            </a>
        </div>
    </div>
}
//Dokter
else if (IdRole == 2)
{
    <h3 class="mb-4">Welcome back, @Name!</h3>

    <div class="row">
        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/lupa-password.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Lupa Password</h5>
                </div>
            </a>
        </div>
    </div>
}
//Pasien
else if (IdRole == 3)
{
    <h3 class="mb-4">Welcome back, @Name!</h3>

    <div class="row">
        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/cari-obat.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Cari Obat</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/pendaftaran-pasien.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Pendaftaran Pasien</h5>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/lupa-password.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Lupa Password</h5>
                </div>
            </a>
        </div>
    </div>
}
//Faskes
else if (IdRole == 4)
{
    <h3 class="mb-4">Welcome back, @Name!</h3>

    <div class="row">
        <div class="col-4">
            <a class="card text-center" style="cursor:pointer">
                <img src="~/niceadmin/img/lupa-password.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Lupa Password</h5>
                </div>
            </a>
        </div>
    </div>
} *@

